body{
  background-color: #333;
  color: white;
}
.time-sets{
  display: grid;
  grid-template-columns:  50px 200px 20px;
  justify-items: center;
  align-items: center;
}
.dual-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 700px;
  margin: auto;
  justify-items: center;
  align-items: center;
}